@use'variables'as*;

header{
    background: $noir;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 10px 10px;
    h1{
        a{
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
        }
    }
    nav{
        a{
            color: white;
            text-decoration: none;
            font-family: Roboto, Arial, Helvetica, sans-serif;
            font-size: 14px;
            gap: 10px;
        }
    }
}