@use'variables'as*;
@use'style'as*;


header{
    background: $noir;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    h1{
        a{
            color: white;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    nav{
        a{
            color: white;
            text-decoration: none;
            font-family: Roboto, Arial, Helvetica, sans-serif;
        }
    }
}