@use'variables'as*;
// $rouge :#ce1b28;
// $noir :#111111;
// $texteClaire: #555555;
// $texteFoncé: #ffffff;

    // <header>
    //     <h1>
    //         <a href="#">Industrious</a>
    //     </h1>
    //     <nav>
    //         <a href="#">Home</a>
    //         <a href="#">Elements</a>
    //         <a href="#">Generic</a>
    //     </nav>
    // </header>

header{
    background: $noir;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        a{
            color: white;
            text-decoration: none;
        }
    }
    nav{
        a{
            color: white;
            text-decoration: none;
        }
    }
}