@use'header'as*;
@use'footer'as*;
@use'variables'as*;

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


    #intro{
        background-image: url('../images/banner2.jpg');
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            color: $texteFonc;
            font-size: 64px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
        }
        p{
            color: $texteFonc;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 200;
        }
    }

    #main{
        background-image: linear-gradient(217deg, rgb(255 255 255 / 0.7)), url(../images/bg.jpg);
        display: flex;
        width: 100%;
        height: 1000px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        h1{
            font-weight: 300;
            padding-bottom: 25px;
        }
        p{
            padding-bottom: 50px;
        }
        div{
        display: grid; 
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        article{
            height: 300px;
            background: white;
            border-radius: 5px;
            padding-left: 20px;
            padding-right: 20px;
            i{
                width: 100px;
                height: 100px;
            }
            h1{
                font-size: 16px;
            }
            p{
                font-size: 13px;
            }
            i{
                padding-top: 50px;
                font-size: 60px;
                color: $rouge;
            }
        }
    }
}

